@font-face {
    font-family: 'kaushan';
    src: url(../fonts/kaushanscript-regular.ttf);
}
@font-face {
    font-family: 'truenobd';
    src: url(../fonts/truenobd.otf);
}
.conteiner{
    width: 80%;
    margin: 0 auto;
}
.blog2{
    width: 100%;
    margin: 40px auto;
    padding-top: 20px;
}
.p1{
    color: grey;
    padding-top: 15px;
    text-align: center;
}
.blog2_box{
    width: 100%;
    height: 500px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;

}
.box_blog2{
    width: calc(100% / 2 - 10px);
    height: 400px;
    /* border:1px solid; */
    position: relative;
}
.box_blog2 img{
    width: 100%;
    height: 100%;
}
.box_blog2 .img2{
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 20px;
}

.box1_blog2{
    width: 100%;
    height: 250px;
    border: 1px solid #cccccc;
    
}

.box1_blog2 .scrol{
    width: 5px;
    height: 150px;
    background-color: rgb(197, 197, 197);
    position: relative;
    top: -165px;
    left: 500px;
    border-radius: 50px;
}
.box1_blog2 .scrol::before{
    content: '';
    width: 5px;
    height: 100px;
    position: absolute;
    background-color: #95e1d3;
    border-radius: 50px;

}
.box1_blog2 .p2{
    padding: 10px 15px;
    color: grey;
    
}
.spn1{
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 700;
    position: relative;
    top: -14px;
    left: 10px;
    letter-spacing: 1px;

}
.box1_blog2 .icon{
    margin-left: 245px;
    color: #cccccc;
}
.box2_blog2{
    width: 100%;
    height: 70px;
    border: 1px solid #cccccc;
    margin: 5px 0px;
}

.box2_blog2 .icon{
    margin-left: 270px;
    color: #cccccc;
    margin-top: 10px
}
.sion{
    width: 100%;
    height: 250px;
    background-color: #f8f8f8;
}
.blog3{
    width: 100%;
    height: 250px;
    display: flex;
}

.blog3 i{
    color: #cfcfcf;
    padding: 120px 0px 0px;
}
.box_blog3{
    width: 94%;
    padding: 50px 40px;
    display: flex;
}
.box_blog3 p{
    padding: 10px 18px 5px ;
    font-size: 23px;
    line-height: 25px;
    position: relative;
}
.son4{
    padding-top: 100px;
}
.spn3{
    width: 110px;
    height: 50px;
    font-family: 'kaushan';
    font-size: 28px;
    position: relative;
    top: 40px;
    left: -200px;
    padding-left: 5px;
}
.spn3::before{
    content: '';
    width: 50px;
    height: 4px;
    background-color: #f38181           ;
    position: absolute;
    top: 20px;
    left: -50px;
}
.blog4{
    width: 100%;
    height: 700px;
    display: flex;
}
.box_blog4{
    width: calc(100% / 3 - 20px);
    height: 450px;
    margin: 70px 10px;

}
.boximg{
    width: 100%;
    height: 450px;
    background-image: url(../page/img/kok_koyne.png);
    background-size: cover;

}
.boximg:hover{
    background: linear-gradient(#f38181ea,#fce38aea ),url(../page/img/kok_koyne.png);
    box-shadow: 10px 10px 0px #95e1d3;
    transition: linear .1s;
    margin: -10px 0px 10px;
}
.boximg1{
    width: 100%;
    height: 450px;
    background-image: url(../page/img/rasmchi.png);
    background-size: cover;
}
.boximg1:hover{
    background: linear-gradient(#f38181ea,#fce38aea ),url(../page/img/rasmchi.png);
    box-shadow: 10px 10px 0px #95e1d3;
    transition: linear .1s;
    margin: -10px 0px 10px;
}
.boximg2{
    width: 100%;
    height: 450px;
    background-image: url(../page/img/qizil.png);
    background-size: cover;
}
.boximg2:hover{
    background: linear-gradient(#f38181ea,#fce38aea ),url(../page/img/qizil.png);
    background-size: cover;
    box-shadow: 10px 10px 0px #95e1d3;
    transition: linear .1s;
    margin: -10px 0px 10px;
}
.h3c{
    text-align: center;
    padding-top: 15px;
    text-transform: uppercase;
    font-size: 20px;
}
.pc{
    text-align: center;
    color: grey;
    padding-top: 8px;
}
.img_icon{
    width: 100%;
    height: 100%;
    opacity: 0;
    padding-left: 60px;
}
.img_icon i{
    width: 50px;
    padding: 5px 15px;
    margin: 0px 1px;
    color: #f38181;
    background-color: #fce38a;
    margin: 200px 2px 0px ;
}
.img_icon i:nth-child(4){
    padding: 5px 10px;
}
.img_icon i:nth-child(2){
    padding: 5px 10px;
}
.img_icon:hover{
    opacity: 1;
}
.img_icon i:hover{
    color:#fce38a ;
    background-color: #f38181;
}
.son5{
    width: 100%;
    height: 200px;
    background-color: #f3f3f3;
}
.brend{
    width: 100%;
    height: 200px;
    margin: 0px 15px;
    padding-top: 40px;
}
.brend img{
    width: 97%;
}
.son6{
    padding-top: 100px;
}
.blog5{
    width: 100%;
    margin: 100px 0px 0px;
}
.box_blog5{
    width: calc(100% / 4);
    display: flex;
    flex-direction: column;
    float: left;
}
.box_imgbg5{
    width: 100%;
    height: 300px;
    background-image: url(../page/img/kachok.png);
    background-size: cover;
}
.box_imgbg5:hover{
    background: linear-gradient(#f38181ea,#fce38aea),url(../page/img/kachok.png);
    background-size: cover;
}
.box1_imgbg5{
    width: 100%;
    height: 300px;
    background-image: url(../page/img/kopri.png);
}
.box1_imgbg5:hover{
    background: linear-gradient(#f38181ea,#fce38aea),url(../page/img/kopri.png);
    background-size: cover;
}
.box2_imgbg5{
    width: 100%;
    height: 300px;
    background-image: url(../page/img/tom.png);
}
.box2_imgbg5:hover{
    background: linear-gradient(#f38181ea,#fce38aea),url(../page/img/tom.png);
    background-size: cover;
}
.box3_imgbg5{
    width: 100%;
    height: 300px;
    background-image: url(../page/img/orta_dom.png);
    background-size: cover;
}
.box3_imgbg5:hover{
    background: linear-gradient(#f38181ea,#fce38aea),url(../page/img/orta_dom.png);
    background-size: cover;
}
.box4_imgbg5{
    width: 100%;
    height: 600px;
    background-image:url(../page/img/meduza.png) ;
    background-size: cover;
}
.box4_imgbg5:hover{
    background: linear-gradient(#f38181ea,#fce38aea),url(../page/img/meduza.png);
    background-size: cover;
}
.box5_imgbg5{
    width: 100%;
    height: 300px;
    background-image: url(../page/img/muzey.png);
    background-size: cover;
}
.box5_imgbg5:hover{
    background: linear-gradient(#f38181ea,#fce38aea),url(../page/img/muzey.png);
    background-size: cover;
}
.box6_imgbg5{
    width: 100%;
    height: 300px;
    background-image: url(../page/img/dom.png);
    background-size: cover;
}
.box6_imgbg5:hover{
    background: linear-gradient(#f38181ea,#fce38aea),url(../page/img/dom.png);
    background-size: cover;
}
.titlebg5{
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 80px 0px 0px;
    opacity: 0;
}
.titlebg5:hover{
    opacity: 1;
}
.titlebg5 h3{
    text-transform: uppercase;
    font-size: 18px;
    color: white;
}
.titlebg5 p{
    font-size: 15px;
    color:white;
    margin: 10px 0px;
}
.titlebg5 i{
    color: white;
    margin: 15px 0px;
}
.title1bg5{
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 230px 0px 0px;
    opacity: 0; 
}
.title1bg5:hover{
    opacity: 1;
}
.title1bg5 h3{
    text-transform: uppercase;
    font-size: 18px;
    color:white;
}
.title1bg5 p{
    font-size: 15px;
    color: white;
    margin: 10px 0px;
}
.title1bg5 i{
    color: white;
    margin: 15px 0px;
}
.sion1{
    width: 100%;
    height: 250px;
    background-color: #ffff;
    margin: 80px 0px;
}
.title_sion{
    width: 100%;
    height: 100% ;
    display: flex;
}
.title_sion img{
    width: 220px;
    height: 200px;
    border-radius: 50%;
    margin: 40px 25px 0px 35px;
}
.title_sion p{
    padding: 80px 18px 5px ;
    font-size: 23px;
    line-height: 25px;
    position: relative;
}
.spn4{
    width: 110px;
    height: 50px;
    font-family: 'kaushan';
    font-size: 28px;
    position: relative;
    top: 40px;
    left: -270px;
    padding-left: 5px;
}
.spn4::before{
    content: '';
    width: 50px;
    height: 4px;
    background-color: #f38181           ;
    position: absolute;
    top: 20px;
    left: -50px;
}
.sion2{
    width: 100%;
    background-image: linear-gradient(#ffffffd8, #ffffffbe), url(../page/img/choqqi.png);
    height: 860px;
    background-repeat: no-repeat;
    background-size: cover;
}
.blog6{
    width: 100%;

}
.blog6 .title{
    padding-top: 130px;
}
.box_cs{
    width: calc(100% / 2 - 20px);
    margin: 50px 10px; 
    float: left;
    display: flex;
    justify-content: space-between;
    
}
.box_cs .img1{
    width: 170px ;
    height: 130px;
    border-radius: 50%;
    margin-right: 15px;
}
.title_s h3{
    margin-top: 20px;
}
.title_s .p5{
    padding: 15px 0px;
    font-size: 16px;
    font-family: 'truenobd';
    color: #646464;
}
.title_s .line{
    width: 75px ;
    height: 4px ;
    background-color: #f38181;
    margin-bottom: 15px;
}
.title_s .ps{
    color:grey;
    line-height: 22px;
}
.sion3{
    width: 100%;
    padding-top: 100px;
}
.blog7{
    width: 100%;
    display: flex;
}
.box_blog7{
    width: calc(100% / 3 - 40px);
    height: 400px;
    margin:0px 20px ;
}
.box_blog7 img{
    width: 100%;
    height: 200px;

}
.number_bg7{
    width: 60px ;
    height: 80px;
    background-color: #95e1d3;
    position: relative;
    top: -130px;
    left: -15px;
}
.number_bg7 h2{
    font-size: 40px;
    font-family: 'truenobd';
    text-align: center;
    color: white;
    }
    .number_bg7 p{
        font-size: 19px;
        font-family:'Courier New', Courier, monospace;
        font-weight: 400;
        text-align: center;
        color: rgb(192, 191, 191);
    }
.box_blog7 h3{
    margin:-70px auto 10px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    font-family: 'truenobd';
}
.box_blog7 .p2{
    font-size: 14px;
    margin-bottom: 20px;
}
.icon1{
    display: flex;
}
.icon1 i{
    padding: 10px 5px 0px 0px;
    color: #95e1d3;
}
.icon1 p{
    padding-top: 10px;
    padding-right: 20px;
}

.main1{
    width: 100%;
    height: 220px;
    margin: 0px auto;
    background-image:linear-gradient(#ffffffd8, #ffffffbe) ,url(../page/img/kolmak.png);
}
.blog8{
    width: 100%;
    text-align: center;
}
.blog8 i{
    margin:50px auto 10px;
    color: #f38181;
}
.blog8 h2{
    color:#f38181;
    text-transform: uppercase;
    font-family:'truenobd';
}
.blog8 .linem{
    width: 70px;
    height: 4px;
    background-color: #f38181;
    margin: 20px auto;
}
footer{
    width: 100%;
    padding-top: 60px;
}
.blog9{
    width: 100%;
    display: flex;
}
.box_blog9{
    width: calc(100% / 3 - 30px);
    height: 315px;
    margin: 0px 15px 40px;
}
.box_blog9 h1{
    color:gray;
    text-transform: uppercase;
    padding-bottom: 20px;
}
.box_blog9 p{
    padding-bottom: 30px;
    color: gray;
}
.title1{
    width: 100%;
    margin-bottom: 10px;
 }
 span{
     width: 20px;
     font-size: 19px;
     font-weight: 900;

}
.box_blog9 .p4{
    margin: 15px 0px 0px;
}
.box_blog9 .p4 i{
    color: #95e1d3;
    padding: 0px 8px;
}
.box_blog9 input{
     width: 200px;
    height: 40px;
}
.box_blog9 input::placeholder{
    padding: 10px;
}
.box_blog9 button{
    width: 120px;
    height: 40px;
    background-color: #95e1d3;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}
.img_boxbg{
    width: 100%;
    display: flex;
    margin: 20px 0px;
}
.text2{
    margin-left: 10px;
}
.img_boxbg h3{
    font-size: 12px;
    text-transform: uppercase;
}
.icon-img{
    width: calc(100% / 3 - 2px);
    float: left;
    margin:  0px 1px;
}
.icon-img img{
    width: 100%;
    height: 92px;
}
footer h6{
    text-align: center;
    font-family: 'truenobd';
    font-size: 15px;
    padding: 30px 0;
    font-weight: 300;
}
footer h6 a{
      color: rgb(231, 111, 111);
}